{% extends "base.jinja" %}

{% block title %}
    Consent form
{% endblock title %}

{% block content %}

<h1>Consent form</h1>
    <p>You are being invited to participate in a MSc research study titled "Developing Vocabulary Mnemonics Using a Large Language Model." This study is being conducted by Safouane El Hilali from Delft University of Technology.</p>
    <p>The purpose of this research study is to test the efficacy of a system that generates personalized mnemonic keywords for pairs of vocabulary, and will take approximately one hour to complete. The data will be used to evaluate the system and will be published in a MSc thesis report and anonymized research data will be published in the 4TU.ResearchData repository. We will be asking you to rate mnemonics for 30 vocabulary items and memorize them. After a 15-minute break, you will be tested on them.</p>
    <p>As with any online activity the risk of a breach is always possible. To the best of our ability your answers in this study will remain confidential. We will minimize any risks by not linking your answers to your real life identity. Administrative information will be stored encrypted.</p>

<h3>Data Collection and Privacy</h3>
    <p>During this study, we will collect certain personally identifiable information (PII) from you, including your age, gender, and languages proficiencies. This information will be used to personalize the generated keywords based on your demographic. We will ensure the confidentiality and security of your personal information by storing encrypted information, only on the TUD server and the researcher's personal laptop.</p>
    <p>Your personal information will not be shared beyond the research team involved in this study. It will be stored securely on a managed server from TU Delft as well as a personal laptop.</p>

<h3>Risks and Mitigation:</h3>
    <p>Participating in this study may involve certain risks, such as deanonymization of your results. However, we will take steps to mitigate these risks. For example, we will encrypt all your data, minimize PII data collection, and limiting access to the people on the research team.</p>
    <p>Please note that your participation in this study is entirely voluntary, and you have the right to withdraw from the study at any time without providing a reason. You can also request to withdraw your data for 2 weeks after submission, after which this won't be possible because of research integrity purposes.</p>

    <p>If you have any questions or concerns about this study, please contact:</p>
    <p>Researcher: Safouane El Hilali</p>
    <p>Contact Information: s.elhilali@student.tudelft.nl</p>

<h2>Explicit consent points</h2>
<ol>
    <li>I have read and understood the study information dated {{ now.strftime('%d/%m/%Y') }}, or it has been read to me. I have been able to ask questions about the study and my questions have been answered to my satisfaction.</li>
    <li>I consent voluntarily to be a participant in this study and understand that I can withdraw from the study at any time, without having to give a reason.</li>
    <li>I understand that taking part in the study involves: giving answers in text form.</li>
    <li>I understand that the study will end July 7th 2024 CE.</li>
    <li>I understand that taking part in the study involves the following risks: potential breach of confidentiality and data security, as personal information such as age range, gender, and language proficiencies will be collected. There is a risk of re-identification and potential harm to privacy and reputation. Furthermore, there may be a risk of physical or emotional discomfort during the study. I understand that these risks will be mitigated by implementing the following appropriate measures:
        <ul>
            <li>Encrypting all collected data on disk to ensure data security and confidentiality.</li>
            <li>Minimizing the collection of personally identifiable information by using anonymized user profiles.</li>
            <li>Storing all data securely on a TUD server and the researcher's personal laptop.</li>
            <li>Implementing strict access controls and limiting access to the data to only authorized members of the research team.</li>
            <li>Ensuring participants have the right to withdraw from the study at any time without providing a reason.</li>
            <li>Using random user IDs instead of real names during data analysis and publication to protect participant identities.</li>
        </ul>
    </li>
    <li>I understand that taking part in the study also involves collecting specific personally identifiable information (PII), such as age range, gender, and language proficiencies, and associated personally identifiable research data (PIRD), with the potential risk of my identity being revealed.</li>
    <li>I understand that the following steps will be taken to minimize the threat of a data breach and protect my identity in the event of such a breach: All data except the code will be encrypted on disk. All data will be stored on the PI's personal computer. The user data will additionally be stored on a TUD server where the AI system and website are hosted.</li>
    <li>I understand that personal information collected about me that can identify me, will not be shared beyond the study team.</li>
    <li>I understand that the (identifiable) personal data I provide will be destroyed when the research is over.</li>
    <li>I understand that the de-identified information I provide may be used for research publications and knowledge dissemination.</li>
    <li>I agree that my responses, views or other input can be quoted anonymously in research outputs</li>
    <li>I give permission for the de-identified input that I provide to be archived in 4TU.ResearchData repository so it can be used for future research and learning.</li>
    <li>I agree that I can only request to withdraw my data for up to 2 weeks after it has been submitted. After this time, my data will have been processed or disseminated in such a way that it will no longer possible to remove it from the dataset.</li>
</ol>
<hr>
<form id="form">
    <label for="checkbox" id="checkbox-label">
        <input type="checkbox" id="checkbox" name="checkbox" role="switch" required>
        I agree to all of the above.
    </label>
    <button type="submit" hx-post="/consent" hx-target="#checkbox-label">Submit</button>
</form>
{% endblock content %}
