{% extends "base.jinja" %}
{% block title %}
:)
{% endblock title %}

{% block content %}
<article class="centered">
<p>Thanks for your participation.</p>
<p>It is very much appreciated</p>
<p><3</p>
</article>
{% endblock content %}